{% extends "homepage/base.html"%}
{% load static %}
{% load auth_extras %}
{% if user.is_authenticated%}
{%block content%}
<style>
  .row-padding{
    margin-bottom:20px;
  }

  .fill-height{
    min-height:100vh;
  }

  a{
    color:inherit;
  }

  .rowclr{
    background-color: #73736B;
  }
</style>



{% comment %}
user information card
{% endcomment %}
<div class="container justify-content-center px-4">
  <div class="text-center">
    <div class="col-auto px-4 py-4 rounded">
      
      <div class="container">
      <img src="{% static '/login/content/images/download.jpeg' %}" >
      </div>

      <h2>Username: {{user.username}}</h2>
      <h2>Role:
      {% for group in user.groups.all %}
      {{ group.name }}
      {% endfor %}
      </h2>
    </div>
  </div>

  <div class="container text-center py-4">
        {% comment %}
        Salesman
        create delivery order
        
        utilizing a custom template tag written in ./templatetags/auth_extras.py request.user|has_group will be calling the function defined in auth_extras.py
        {% endcomment %}
        {% if request.user|has_group:"Salesman" %}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{%url 'deliveryorder:createDeliveryOrder' %}">
          <h2>Create Delivery Order</h2>
        </div>
        {% endif %}
  
        {% comment %}
        Salesman, Manager
        view delivery order list
        {% endcomment %}
        {% if request.user|has_group:"Salesman" or request.user|has_group:"Manager" %}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{%url 'deliveryorder:index' %}">
          <h2>View Delivery Order</h2>
        </div>
        {% endif %}
  
        {% comment %} 
        Manager
        approve delivery order 
        {% endcomment %}
        {% if request.user|has_group:"Manager" %}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{%url 'deliveryorder:approveDOlist' %}">
          <h2 class="u-text u-text-2">Approve Delivery Order</h2>
        </div>
        {% endif %}
  
        {% comment %}
        Manager 
        approve invoice
        {% endcomment %}
        {% if request.user|has_group:"Manager"%}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{% url 'deliveryorder:approveInvoiceList' %}">
          <h2 class="u-text u-text-2">Approve Invoice</h2>
        </div>
        {% endif %}
        
        {% comment %}
        Manager, Finance Office
        view invoice list
        {% endcomment %}
        {% if request.user|has_group:"Manager" or request.user|has_group:"Finance"%}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{%url 'deliveryorder:invoiceList' %}">
          <h2 class="u-text u-text-3">View Invoice List</h2>
        </div>
        {% endif %}
  
        {% comment %}
        Courier 
        view approved delivery order 
        {% endcomment %}
        {% if request.user|has_group:"Courier"%}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{%url 'deliveryorder:courierList' %}">
          <h2>View Delivery Order</h2>
        </div>
        {% endif %}
        
        {% comment %}
        Finance Office 
        view delivery order courier aprroved then create invoice
        {% endcomment %}
        {% if request.user|has_group:"Finance"%}
        <div class="row bg-success rounded row-padding">
          <a class="text-decoration-none" href = "{% url 'deliveryorder:financeList' %}">
          <h2 class="u-text u-text-2">Create Invoice</h2>
        </div>
        {% endif %}


{% endblock content %}
{% else %}
<p> 
  <a href="{% url 'login:login' %}">Login</a> bro
</p>
{%endif%}